

@media only screen and (min-width: 60em){
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');    
    .picture{
        height:120px;
        width: 120px;
    }
   .grid-container{
     
grid-template: 
   "header header header header" auto
   "chamber chamber chamber chamber" 600px
   "alert alert alert alert"auto
   "event event event event"auto
   "aside aside aside aside"
   "join news news news"auto
    " two two two two" auto 
   " one one one one " 720px
   "footer footer footer footer" auto
   /1fr 1fr 1fr 1fr;
   }
   .header{padding: 0 50px 0 50px;}
   
    .strategies{
        display:table;
       text-align: center; }    
    .event,.aside{
        margin-left: 80px;
        margin-right: 80px;
       }
       .news p, .join p{
        font-size: 1.5em;
    }
   


.chamber h1 {
   color: rgb(253, 252, 244);
    font-size: 70px;
    
}

.delivery1 {
    padding-top: 100px;}


    .event h1{
        font-weight: 900;
    }
    .aside{
           margin-right: 50px;
           display:grid;
           grid-template:
           "delivery companies strategies" 1fr;
          
   }
   .chamber{background-image: url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/w1.webp?v=1664504836211");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       margin-top: 10px;
 
       ;}

       /* .chamber{display: flex;} */
       .text{
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           /* text-shadow: 2px 2px 2px black,
           2px 2px 1px black;  */
         
           text-align: left;
           color:rgb(6, 217, 241);
           font-size:2em;}
      
        .button{
        font-size: 1.25em;
         
       margin-top: 500px
           ;}  
       .icon2{
           margin-left:10px ;
           width:50px;
       }
       .banner{
          
           /* padding-left: 150px; */
           /* padding-right: 150px; */
           flex-flow:row nowrap;
       }
       .banner2{
           padding: 30px 100px 30px 100px;
       }
     .icon1{
         width:50px;
             
         }
     

      /* .signature{
               border-top: 2px solid grey;
               font-size: 1em;
               color: grey;
              
            } */

/* 
      .information{
           margin-left:200px ; } */
   
           .navigation {
            display: flex;
            gap:30px
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
            font-size: clamp(1.5em, 2vmin, 1.5rem);
        }
        .navigation li:first-child {
            display: none;
        }
    .information{
               padding-left:300px;
               
           }
    main img{
     width: 760px;
     height:  560px;
    }
    .cards{
        padding: 0 50px 0 50px;
    }
  .title{display:contents;}

  .text{
    font-size: 2em;
   }
}   
