@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

*{
    box-sizing:border-box;
    margin:0 ;
    padding:0; 
   }
   html{
       height:100%;
   }
   body{
       font-family: 'Quicksand', sans-serif;
       font-size:1em; 
       min-height: 100%;
       background-color: #f9fafd;
   }
   
   .grid-container >*{
       /* box-shadow:-1px 1px 7px 0px black;
       border-radius: 4px; */
        padding: 10px; 
       text-align: center;
       
   }

   .header{
    margin-top: 5px;
     box-shadow:-1px 1px 7px 0px black;
       border-radius: 4px; 
       /* padding: 10px;
       /* display:grid;
       /* flex-flow: row nowrap; */
       grid-area: header;
       background-color:#fafafafe ;
       /* padding:auto 20px auto 20px; */
       padding-right: 20px;
       padding-left: 20px; 
       
    
   }
   .banner{
    display: flex;
    align-items: center;
    justify-content: center;

    
   }

     
.alert h1 {
   
    font-family: 'Poppins', sans-serif;
}

.button1 a {text-decoration: none;}
.name{
    display: flex;
    font-size:large;
    text-align: left;
    
}
.icon1,.icon2{
    gap:5px
}
.icon1{
    border-radius: 8px;
    width: 40px;
}
.icon2{
    width: 40px;
    margin-left:5px ;
}
p{
    font-size: 1.5em;
   
    
   
}




   .footer{
    box-shadow:-1px 1px 7px 0px black;
    border-radius: 4px; 
    font-weight:lighter;
    grid-area: footer;
    background-color:#faf9fa ;
    padding: 5px 20px 5px 20px;
    text-align: center;

    }
    /* .information{
        display:flex;
        justify-content: space-between;

    } */

    .signature{
        border-top: 1px solid black;
        font-weight: bold;
     }
    .event{
        gap: 70px;
        font-size: 1em;
        font-weight: 600;
        grid-area: event;
        color: #0445a6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .event h1{
     
        font-family: 'Poppins', sans-serif;

    }
    
    .chamber{
    grid-area:chamber;
    background-image:url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/w1.webp?v=1664504836211");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Poppins', sans-serif ;

        
    }
  .chamber h1{
    position: absolute;
    text-align:left;
    color: #f8f8fa;
    font-size: 2em;
    
  }
  .chamber p{
    color: white;
    font-size: 1.5em;
}
    .alert{
       
        flex-wrap: nowrap;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #072d66;
        grid-area: alert;
        color: white;
        font-size: 0.55em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-stretch: ultra-expanded;
        padding-bottom: 10px;
        }
       
    .join{
        font-family: 'Poppins', sans-serif;
        background-image: url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670%20(1).jpg?v=1664895731001");      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(8px);
        grid-area: join;
        display:none;
        color: #0445a6;
        font-size: 1.2em;
       
        }

    .news{
        font-family: 'Poppins', sans-serif;
        background-image: url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670%20(1).jpg?v=1664895731001");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        grid-area: news;
        color: #0445a6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
        
    }
     .join p{
        font-weight:400;
    }
    .aside{
        font-family: 'Poppins', sans-serif;
        box-shadow: none;
        color: #0445a6;
        grid-area: aside;
        gap:10px;
        display:grid;
        grid-template:"delivery"auto
                     "companies"auto;
} 
    
   .grid-container{
       display:grid; 
       gap:10px;
       font-weight: bold;
       grid-template: 
       "header" auto
       "chamber" 250px
       "two"
       "alert"auto
       "one" 250px
       "event"auto
       "news"250px
       "aside"auto
       "footer" auto;
   }
   /* .aside,.event,.alert>h1 {
    text-shadow: 2px 2px #f9fafc;
   } */
    .aside>*{
    box-shadow:-1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
   }

  
.delivery{
    display:flex;
    height: 150px;
    background-position: center;
background-image:url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/pexels-andrea-piacquadio-3781645.jpg?v=1664404138010"); 
background-position: center;
background-repeat: no-repeat;
        background-size: cover;
    grid-area: delivery;
    color: white;
    text-shadow: 2px 2px 2px BLACK,
    2px 2px 2px BLACK; 
    align-items: flex-end;
    justify-content:center ;
}
.delivery h1, .companies h1, .strategies h1 {
    font-size: 1.4em;
}
.companies{
    height: 150px;
    display:flex;
    align-items: flex-end;
    justify-content:center ;
    background-position: center;
    color: white;
   background-image:url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/pexels-andy-barbour-6684211.jpg?v=1664553492309"); 
   background-position: center;
   background-repeat: no-repeat;
    background-size: cover;
    grid-area: companies;
    color: white;
    text-shadow: 2px 2px 2px BLACK,
    2px 2px 2px BLACK; 

}

.news p{
font-weight: 500;
}
.strategies{
    display:flex;
    align-items: flex-end;
    justify-content:center ;
 

    background-image:url("https://cdn.glitch.com/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a%2Fpexels-photo-2769753.jpeg?v=1623454714317");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: strategies;
    display:none;
    color: white;
    text-shadow: 2px 2px 2px BLACK,
    2px 2px 2px BLACK; 

}
.text{
    position: absolute;

    right: 16px;
    text-shadow: 2px 2px 2px BLACK,
    2px 2px 2px BLACK; 
    color:#1bc8e6;
    padding:0 10px 0 10px ;
   
}

/* buttons */

.button {
    margin-top: 170px;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    background-color:  #1bc8e6;
    border-color: #1bc8e6;
    color: rgb(14, 10, 116); 
    border-radius: 10px;
    font-size: 0.7em;
    cursor:pointer;
  
    
  }
  .button_alert{
    padding: 10px 10px 10px 10px;
    color: rgb(14, 10, 116);
    background-color: #1bc8e6;
    border-radius: 10px;
    cursor:pointer;
    border-color: rgb(14, 10, 116);
    font-size: 1em;
    font-weight: bolder;
  }
.button1 {
   padding: 10px 10px 10px 10px;
   color: #1bc8e6;
   background-color: rgb(14, 10, 116);
   border-radius: 10px;
   cursor:pointer;
   border-color: rgb(14, 10, 116);
   font-size: 1em;
   font-weight: bolder;
  }


.button_alert h1{
    font-size: 1.5em;
}
  .button1:hover,.button_alert:hover {
    background-color: white;
    color: #FFCB77;
    border-color: white;
}
    
.button:hover {
        background-color: white;
        border-color: white;
        color: #FFCB77;}
        nav {
            margin: 0 auto;
            max-width: 760px;
   
        }

/* .button_alert{
    margin-bottom: 10px;
} */

   .banner2 p, .event h2{
        font-size: 1em;
    } 
    .event h2{
       text-align: left;
    }
    /* .location h2{text-align: center;} */
.information{
    display: grid;
    padding:5px 0 50px 0;
    gap:10px;
    
   
}
.information a{
    text-decoration: none;
    color: black;
}

     /* navigation bar */
        
        
     nav {
        margin: 0 auto;
        max-width: 760px;
        
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
     .navigation a.ham::before {
        content: "☰";
    } 
    
    .navigation a:hover {
        color: white;
        background-color: #1bc8e6;
    }
    
    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
      <ul class="navigation responsive">
    */
    .responsive li {
        display: block;
    }
    
    .responsive a.ham::before {
        content: "✖️ ";
    }
    .title{display: none;}
   
       .one{
           
           grid-area: one;
        background-image: url("https://cdn.glitch.global/b871c8c6-5f77-4d6d-a1fd-f6f97a229c4a/aprende.webp?v=1654221564185");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      
    
    }
    
    
    
     .two{grid-area: two;   
        display: flex;
        justify-content: center;
        align-content: center;
       }
       /* .container {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
      /* } */ */
       */
      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }

      video {
        
        width: 100%;
        height: auto;
        max-width: 960px;
      }
    